
<div class="container">
  <div class="row">
      <table class="table">
      </table>
  </div>
  <div class="row">
      <table class="table">
          <thead>
              <tr class="bg-info">
                  <th scope="col">
                    <img src="./assets/tvImagen.png" height="100px" width="200px">
                      Series de Television
                  </th>
              </tr>
          </thead>
      </table>
  </div>
</div>
<div class="container">
  <app-Serie></app-Serie>
</div>
